<h1>COUCOU</h1>

<ul>
  <% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article.id) %>
</li>
  <% end %>
</ul>


  <%# <%= link_to "Delete #{article.title}",
                  article_path(article),
                  method: :delete,
                  data: { confirm: "Are you sure?" }%>
